body {
  background-color: #424242; }

header {
  background-color: #2B2B2B;
  padding: 0 3%;
  box-sizing: border-box;
  border-bottom: 2px solid darkgrey; }

p {
  margin-bottom: 0; }

h3, p {
  color: white;
  text-align: justify; }

h1, h2 {
  color: #f39c12;
  margin: 0; }

h3 {
  margin: 0; }

.paragraph {
  margin-top: 30px;
  width: 400px;
  /*    background-color: darkgrey;*/ }

section {
  margin: 2% 3%; }

/* Skill Badge */
.containerLigne {
  /*background-color: lightgrey;*/
  padding: 3px;
  margin: 8px 0; }

.line {
  /*background-color: red;*/
  display: flex;
  justify-content: space-around; }

.skillBadge {
  width: 130px;
  height: 130px;
  background-color: darkgrey;
  border-radius: 50%;
  -webkit-transition: box-shadow 0.8s;
  /* Safari */
  transition: box-shadow 0.8s; }

.skillBadge:hover {
  box-shadow: 0 0 2px 3px rgba(0, 140, 186, 0.8); }

.logosvg {
  position: relative;
  top: 20px;
  left: 20px;
  width: 90px;
  height: 90px; }

.logosvgphp {
  position: relative;
  top: 40px;
  left: 20px;
  width: 90px;
  height: 50px; }

.logosvgci {
  position: relative;
  top: 20px;
  left: 27.5px;
  width: 90px;
  height: 85px; }

/*# sourceMappingURL=style.css.map */
